*{
    font-family: Arial;
}

h1{
    font-size: 35px;
    display: inline;
    color: rgb(124, 45, 45);
}

body{
    background-color: rgb(163, 163, 163);
    padding: 5%;
    margin: auto;
    font-family: arial;
}

aside{
    width: 40%;
    height: auto;
    background-color: rgb(200, 200, 200);
    box-sizing: border-box;
    padding: 5% 4% 7% 7%;
    align-items: center;
    text-align: left;
    margin: auto;
    box-shadow: 3px 3px rgb(124, 45, 45);
}

a{
    display: block;
    margin-bottom: 40px;
    margin-left: 15px;
    color: rgb(163, 9, 9);
    font-size: 24px;
    
}

li{
    list-style: none;
    
}

div > a{
    color: gray;
}